@import 'config';
@import 'menu';
@import 'mobile';

* {
    box-sizing: border-box;
}

body {
    @include background;
    background-attachment: fixed;
    background: linear-gradient(-90deg, #434343, #000000);
    background-repeat: no-repeat;
    color: set-text-color($primary-color);
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    line-height: 1.5;

}

//headings

h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;

    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    height: 100%;

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.5rem;

            &:hover {
                color: $secondary-color;
                @include ease();
            }
        }
    }

    &#home {
        overflow: hidden;

        h1 {
            font-family: 'Orbitron', sans-serif;

            margin-top: 20vh;
        }
    }
}

.up-btn {
    position: fixed;
    width: 35px;
    height: 35px;
    background: #444;
    bottom: 40px;
    right: 50px;
    opacity: 0.5;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    color: white;
    font-size: 22px;
}